
img {
  max-width:100%;
}


.clearfix:after {
  display: table;
  content:"";
  clear:both;
}




.headercontainer ul {
margin:0;
}

.headercontainer li {
list-style-type:none;
float:left;
padding:6px; 
}
.navbar-brand {
width:60px;
height:30px; /*changed from 60px;*/
margin-top: -4px; /*added margin for logo height, not neccessary */
 
}

.navbar-brand img {
width:100%;

}


.hero_wrapper {
  background-image:url("http://eskipaper.com/images/cloudy-sky-4.jpg");
  background-size:cover;
  padding: 40px; /*changed from 0;*/
  margin: 0;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}

.hero_image_container {
  margin: 97px 0;
}

.hero__details {
  float:left;
  width:45%;
  margin-left: 60px;
  margin-top:30px;
  margin:30px 0 30px 60px; 
  color:white;
}


.button_container {
 margin: 10px 0;  
}


.button_container button:first-of-type {
  background:#E62D35;
  padding: 6px 6px;
  width:40%;
  border-radius:3px;
  color:white;
  border:none;
}

.button_container button:last-of-type {
  background:#3F3F49;
  padding: 6px 6px;
  width:40%;
  border-radius:3px;
  color:white;
  border:none;
}

.showlist_wrapper {
  font-family: 'Raleway', sans-serif;
  width: 95%;
  margin:20px auto;
}

.showfilter {
   width:20%;
  box-shadow: 0 0 17px 5px rgba(39, 43, 55, 0.15);
  background:white;
  float:left;
  margin-left: 23px;
}


.filterheader {
  text-align: left;
  padding: 9px;
  margin: 3px 14px;
}


.browser__list {
  list-style: none;
  margin: 0;
  font-size:14px;
  padding: 0 9px;
}

.browser__list li.active { 
 color:#E62D35;
}

.browser__list li {
  padding: 16px;
}
.showlist_search {
  text-align: center;
  margin: 4px;
}

.showlist_search input {
  display: block;
  width:92%;
  padding: 9px 5px;
  border:1px solid #ddd;
  outline:none;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0 0 30px rgba(39, 43, 55, 0.15);
  border-radius:3px;
  font-size:14px;
  margin-left: auto;
  margin-right: auto;
}


.showlist_container {
  width: 75%;
  float: left;
  margin-left: 2%;
}

.showlist_container > section {
  margin:10px 0;
}

.showlist__item {
  width: 45%;
    box-shadow: 0 0 17px 5px rgba(39, 43, 55, 0.15);
  float:left;
  margin-left:3%;
}

.showlist_item_detail h3 {
  font-size:16px;
  color:#847f7f;
}

.showlist_item_detail {
  background: white;
  padding: 9px;
  font-size:13px;
  line-height: 1.5;
  color:#111;
}

@media screen and (max-width:812px) {
  .hero__details {
    width: 83%;
    float:none;
  }
  .showlist_container {
    width: 68%;
  }
}

@media screen and (max-width:615px) {
  .showfilter {
    display: none;
  }
  .showlist_container {
    width: 99%;
  }
}
